<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title>Title</title>
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="stylesheet" href="../../assets/css/responsive.css" />
    <!-- Font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <section class="products">
      <div class="container">
        <div class="cart-icon">
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
        <h2>Danh sách sản phẩm</h2>
        <form action="">
          <div class="form-group">
            <select class="form-group" name="" id="productInput">
              <option>Chọn loại</option>
            </select>
          </div>
        </form>
        <div class="productsList">
          <div class="row">
            <div class="col-3">
              <!-- <div class="product-item">
                <div class="product-tumb">
                  <img
                    src="https://cdn.tgdd.vn/Products/Images/42/114115/iphone-x-64gb-hh-600x600.jpg"
                    alt=""
                  />
                </div>
                <div class="product-details">
                  <div class="product-info">
                    <span class="product-catagory">iphone</span>
                    <h4>iphoneX</h4>
                    <p>Thiết kế mang tính đột phá</p>
                    <p>screen 68</p>
                    <p>2 camera 12 MP</p>
                    <p>7 MP</p>
                  </div>
                  <div class="product-bottom-details">
                    <div class="product-price">$1000</div>
                    <div class="product-links">
                      <a href=""><i class="fa fa-shopping-cart"></i></a>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="cart">
      <div class="container">
        <i class="fa-solid fa-xmark"></i>
        <h2>Giỏ hàng</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Hình</th>
              <th>Tên sp</th>
              <th>Số lượng</th>
              <th>Giá</th>
              <th>Chọn</th>
            </tr>
          </thead>
          <tbody id="tableCartProduct">
            <tr>
              <td>
                <img
                  src="https://cdn.tgdd.vn/Products/Images/42/114115/iphone-x-64gb-hh-600x600.jpg"
                  alt=""
                />
              </td>
              <td>iphoneX</td>
              <td>
                <input
                  style="width: 50px"
                  type="number"
                  name=""
                  id=""
                  value="1"
                  min="0"
                />
              </td>
              <td>1000</td>
              <td>Xóa</td>
            </tr>
          </tbody>
        </table>
        <div class="total-price text-right font-weight-bold">
          <p>Tổng giá: <span id="totalPay">1000</span></p>
        </div>
        <div class="buy-products">
          <button class="btn btn-primary" onclick="cleanProduct()">Mua</button>
        </div>
      </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="../services/product.js"></script>
    <script src="../models/cart.js"></script>
    <script src="../controllers/index.js"></script>
  </body>
</html>
